# Данные для Finnhub (Акции) - Получите на finnhub.io
FINNHUB_TOKEN=ваш_токен от finnhub.io. 

# Настройки Kafka (внутри Docker сети)
KAFKA_SERVER=kafka:29092
KAFKA_PORT=9092
KAFKA_INTERNAL_PORT=29092
KAFKA_REPLICATION_FACTOR=1

# Настройки ClickHouse
CH_HOST=clickhouse-server
CH_PORT=8443
CH_USER=default
CH_PASSWORD=ваш_пароль

# Настройка Grafana
GRAFANA_PASSWORD=ваш_пароль